:root {
    --bostonUniversityRed: #cc0000;
    --ceruleanBlue: #3B4CCA;
    --goldenYellow: #FFDE00;
    --goldFoil: #B3A125;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: var(--bostonUniversityRed);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/bg_herofield.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.2vw);
    z-index: -2;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

header {
    background-color: var(--bostonUniversityRed);
    color: white;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.10);
    padding: 15px 0;
}

.headerContent {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
}

header a {
    margin: 0 10px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

header a:hover {
    color: var(--goldenYellow);
    transform: scale(1.2);
}

header .home {
    float: left;
}

header .menu {
    float: right;
}

.hamburger-menu {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

main {
    color: white;
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ipv6True {
    background-color: green;
    width: auto;
    color: white;
    border-radius: 12px;
    padding: 15px 30px;
    text-align: center;
    font-weight: 500;
    white-space: pre-line;
}

.ipv6False {
    background-color: red;
    width: auto;
    color: white;
    border-radius: 12px;
    padding: 15px 30px;
    text-align: center;
    font-weight: 500;
    white-space: pre-line;
}

#mcStatus {
    margin-bottom: 10px;
}

main .conteudo {
    max-width: 960px;
    margin: 60px 0 60px 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .plugins {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

main .plugins:nth-child(even) {
    flex-direction: row-reverse;
    text-align: justify;
    text-align-last: right;
}

main .plugins:nth-child(odd) {
    text-align: justify;
    text-align-last: left;
}

main .imagemPlugin {
    max-width: 80px;
    margin: 0 20px 0 20px;
}

main .plugins>p {
    max-width: 600px;
}

main .logo {
    margin-top: 60px;
    width: 180px;
}

main .titulo-server {
    margin: 10px;
    font-size: 2.5em;
}

main .subtitulo {
    margin-bottom: 10px;
}

main .titulo-plugins {
    margin: 10px;
}

main .div-server {
    margin: 20px;
    padding: 10px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, red 20%, var(--ceruleanBlue));
    color: white;
    text-align: center;
    font-weight: 400;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
    animation: jump 1.8s infinite;
}

main .div-server:hover {
    animation: none;
    transform: scale(1.075);
    box-shadow: 0px 0px 15px 0px white;
}

main .material-symbols-outlined {
    padding-left: 4px;
    font-weight: 300;
}

main .link-external {
    color: var(--goldenYellow);
}

main .sobre {
    margin-bottom: 60px;
}

main .paragrafo {
    margin: 20px;
}

main hr {
    width: 100%;
    margin: 20px;
}

footer {
    background-color: white;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--cinzaPedra);
    padding: 20px;
    margin-top: auto;
    text-align: center;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1em;
}

footer a:hover {
    color: var(--ceruleanBlue);
    transform: scale(1.2);
    cursor: pointer;
}

.aviso-popup {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    background-image: linear-gradient(135deg, var(--bostonUniversityRed) 20%, var(--ceruleanBlue));
    color: white;
    border-radius: 10px;
    opacity: 0;
    animation: popup 3s;
}

/* ------------------------------------------------------------ */

@media screen and (orientation: portrait) {

    .headerContent {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-menu {
        display: block;
    }

    header>div {
        padding: 10px;
    }

    header a:hover {
        transform: scale(1);
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--bostonUniversityRed);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
        border-top: 1px solid var(--goldenYellow);
        z-index: 10;
    }

    .menu.show {
        display: flex;
    }

    .menu a {
        margin: 5px 0px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid var(--goldenYellow);
    }

    main .conteudo {
        padding: 20px;
    }

    main .imagemPlugin {
        width: 80px;
        margin: 0 20px 0 20px;
    }

    main .div-server {
        width: 100%;
    }

    main .titulo-server,
    main .subtitulo,
    main .titulo-plugins {
        font-size: 1.8em;
    }
}

/* ------------------------------------------------------------ */

@keyframes jump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.075);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes popup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}